<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
          text-align: center;
        }
        .bg {
            height: 100%; 
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charts</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" href="../static/chart.css"></link>
    </head>

    <body text="white">
        <div class="main">
            <div class="navbar">
                <div class="menu">
                    <ul>
                        <li> <a href="index.html">Home</a></li>
                        <li> <a href="KMeans.html">Algorithm</a></li>
                        <li> <a href="modelpage.html">Model</a></li>
                        <li> <a href="charts.html">Charts</a></li>
                        <li> <a href="sources.html">Sources</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h1 class="title" data-anijs="if: mouseover, do: pulse animated" style="color:white;">Data Analysis</h1>
        </div>

        <p>To have a better understanding of our datas, we have only chosen a specific timeline which is from 2010 to 2020. To find out how people listen to their favorite songs, we started to analyze the attributes over the years.</h3>
        <h3 id="q1">The Attributes evolution over the last decade</h6>
      
        <img src="https://github.com/Raph95c/Project-4/blob/main/images_matplot/line_graph.png?raw=true" alt="Mag by year" height="500"width="800"> 
        <br>
        <p>What does the graph tell us ?

        
           </p>
          
        <br></br>
        <h3 id="q1">Correlation between attributes</h3>
          
        <img src="https://user-images.githubusercontent.com/115199874/229678609-c3907610-5d72-40ae-a0ef-6c4abcaead95.png" alt="Mag by year" height="400"width="500"> 
        <p>It seems like Energy and Loudness are highly positively correlated. Also, Valence is positively correlated with Danceability and energy. Considering happy songs make people energetic and want to dance, the correlation make a lot sense. *Interestingly, speechiness and loudness are negatively correlated with each other. </p>
        <br></br>
        <h3 id="q1">In-depth analysis</h3>
        <p>From the graph above, we saw that energy and loudness are highly correlated, we did a linear regression to show it </p>
        <img src="https://user-images.githubusercontent.com/115199874/229679875-efb4de27-8ab9-48aa-aa72-becf93dc1271.png" alt="Mag by year" height="400"width="500"> 
        <br></br>
        <h3 id="q1">What artist people are listen to ?</h3>
       
        <img src="https://user-images.githubusercontent.com/115199874/229963812-4f369422-6037-4c8f-a15b-12bfb25e4aa0.png" alt="Mag by year" height="400"width="500"> 
        <p>Overall, people like pop music and rap music. Pop music is the most accessible of all genres, with its songs being easy to listen to and sing along with.
            Also, young people like rap music,the elements of rhythm and beats makes hip hop so appealing because people can really connect to the music.   </p>
        <br></br>
       

        <script></script>
    </body>