<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
          text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Model</title>
    <link rel="stylesheet" type="text/css" href="../static/modelpage.css">
    </head>
    <div class="main">
    <div class="content">
      <h1 class="title">Spotify Model</h1>
      <div class="menu">
          <ul>
              <li> <a href="index.html">Home</a></li>
              <li> <a href="KMeans.html">Algoritm</a></li>
              <li> <a href="modelpage.html">Model</a></li>
              <li> <a href="charts.html">Charts</a></li>
              <li> <a href="sources.html">Sources</a></li>
          </ul>
      </div>
      
        <label for="song">Choose a song</label>

        <div class="navbar">
<input type="text" id="song" name="song">


<body>


<script>

</script>

</body>
</div>