<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
          text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Model</title>
    <link rel="stylesheet" type="text/css" href="../static/modelpage.css">
    </head>
    <div class="main">
    <div class="content">
      <h1 class="title">Spotify Model</h1>
      <div class="menu">
          <ul>
              <li> <a href="index.html">Home</a></li>
              <li> <a href="KMeans.html">Algorithm</a></li>
              <li> <a href="modelpage.html">Model</a></li>
              <li> <a href="charts.html">Charts</a></li>
              <li> <a href="sources.html">Sources</a></li>
          </ul>
      </div>

      <form>
        <label for="input">Enter a Song: ({song_title} by {artist})</label><br>
        <input type="text" id="input" name="input"><br>
        <input type="button" value="Submit" onclick="sendData()">
      </form>
      
          <div class="navbar">
            <div id="result"></div>
          </div>

<script src="../static/script.js"></script>

</div>