<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
          text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sources</title>
    <link rel="stylesheet" type="text/css" href="../static/sources.css">
    </head>
<body>
    <div class="main">
    <h1 class="title">Sources</h1>


    <div class="menu">
        <ul>
            <li> <a href="index.html">Home</a></li>
            <li> <a href="KMeans.html">Algorithm</a></li>
            <li> <a href="modelpage.html">Model</a></li>
            <li> <a href="charts.html">Charts</a></li>
            <li> <a href="sources.html">Sources</a></li>
        </ul>
    </div>

    <div class = "links"></div>
    <li><a href="https://www.kaggle.com/datasets/ektanegi/spotifydata-19212020?resource=download" target = "_blank">Spotify Data</a></li>
    <li><a href="https://developer.spotify.com/documentation/web-api" target = "_blank">Spotify Web API</a></li>
    <li><a href="https://spotipy.readthedocs.io/en/2.22.1/" target = "_blank">Spotipy Documentation</a></li>
    </div>

    </div>
</body>